<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.misty.rc.ronnclockrepeat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="RonnClockRepeat"
            android:label="RonnClockRepeat" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ronnclockrepeat_info" />
        </receiver>
    </application>

</manifest>